<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Simple pharmacy management app</display-name>
  <context-param>
    <param-name>resultsNb</param-name>
    <param-value>2</param-value>
  </context-param>

  <servlet>
    <servlet-name>IllnessServlet</servlet-name>
    <servlet-class>pharmacy.servlets.IllnessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IllnessServlet</servlet-name>
    <url-pattern>/illnesses</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>IllnessFormServlet</servlet-name>
    <servlet-class>pharmacy.servlets.IllnessFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IllnessFormServlet</servlet-name>
    <url-pattern>/new-illness</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>LaboratoryServlet</servlet-name>
    <servlet-class>pharmacy.servlets.LaboratoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaboratoryServlet</servlet-name>
    <url-pattern>/laboratories</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LaboratoryFormServlet</servlet-name>
    <servlet-class>pharmacy.servlets.LaboratoryFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaboratoryFormServlet</servlet-name>
    <url-pattern>/new-laboratory</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MedicineServlet</servlet-name>
    <servlet-class>pharmacy.servlets.MedicinesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineServlet</servlet-name>
    <url-pattern>/medicines</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MedicineFormServlet</servlet-name>
    <servlet-class>pharmacy.servlets.MedicineFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineFormServlet</servlet-name>
    <url-pattern>/new-medicine</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MedFormServlet</servlet-name>
    <servlet-class>pharmacy.servlets.MedFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedFormServlet</servlet-name>
    <url-pattern>/new-form</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>MedicineConstraintServlet</servlet-name>
    <servlet-class>pharmacy.servlets.MedicineConstraintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineConstraintServlet</servlet-name>
    <url-pattern>/new-constraints</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SalesServlet</servlet-name>
    <servlet-class>pharmacy.servlets.SalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesServlet</servlet-name>
    <url-pattern>/sales</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SalesListServlet</servlet-name>
    <servlet-class>pharmacy.servlets.SalesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesListServlet</servlet-name>
    <url-pattern>/sales-list</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SalesDetailsServlet</servlet-name>
    <servlet-class>pharmacy.servlets.SalesDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesDetailsServlet</servlet-name>
    <url-pattern>/sales-details</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>pharmacy.servlets.BuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/buy</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MedicineDetailsServlet</servlet-name>
    <servlet-class>pharmacy.servlets.MedicineDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineDetailsServlet</servlet-name>
    <url-pattern>/medicine-details</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TransactionServlet</servlet-name>
    <servlet-class>pharmacy.servlets.TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionServlet</servlet-name>
    <url-pattern>/new-transaction</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>StockServlet</servlet-name>
    <servlet-class>pharmacy.servlets.StockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServlet</servlet-name>
    <url-pattern>/stocks</url-pattern>
  </servlet-mapping>

      <servlet>
    <servlet-name>MonthProductListServlet</servlet-name>
    <servlet-class>pharmacy.servlets.MonthProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthProductListServlet</servlet-name>
    <url-pattern>/list-product-month</url-pattern>
  </servlet-mapping>

      <servlet>
    <servlet-name>ProductMonthServlet</servlet-name>
    <servlet-class>pharmacy.servlets.ProductMonthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductMonthServlet</servlet-name>
    <url-pattern>/insert-product-month</url-pattern>
  </servlet-mapping>

        <servlet>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>pharmacy.servlets.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/list-clients</url-pattern>
  </servlet-mapping>

</web-app>
