<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Simple pharmacy management app</display-name>
  <context-param>
    <param-name>resultsNb</param-name>
    <param-value>2</param-value>
  </context-param>

  <servlet>
    <servlet-name>IllnessServlet</servlet-name>
    <servlet-class>pharmacy.servlets.IllnessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IllnessServlet</servlet-name>
    <url-pattern>/illnesses</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>LaboratoryServlet</servlet-name>
    <servlet-class>pharmacy.servlets.LaboratoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaboratoryServlet</servlet-name>
    <url-pattern>/laboratories</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MedicineServlet</servlet-name>
    <servlet-class>pharmacy.servlets.MedicinesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineServlet</servlet-name>
    <url-pattern>/medicines</url-pattern>
  </servlet-mapping>

</web-app>
